body {
  background-color: #1f2937;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0;
}
.header .logo {
  color: white;
}

a {
  color: #c6c9cf;
  text-decoration: none;
}
.header ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.first-section {
  display: flex;
  padding: 80px 10px;
  padding-top: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.first-section .text h1 {
  color: #ffff;
  font-size: 70px;
  padding-top: 0;
  margin: 0;
  margin-bottom: 30px;
  line-height: 1;
}
.first-section .text {
  color: #c6c9cf;
  font-size: 30px;
  width: 500px;
}
img {
  width: 600px;
  border-radius: 15px;
  margin-top: 25px;
  width: 100%;
  max-width: 800px;
}
.first-section button {
  background-color: #3b82f6;
  color: white;
  border: 0;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 10px;
  transition-duration: 150ms;
}
button:hover {
  background-color: darkblue;
}
.second-section {
  margin: 0;
  background-color: white;
  padding: 15px;
}
.second-section h2 {
  text-align: center;
  margin: 0;
  font-size: 30px;
}

.second-section .card-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
.second-section .card-container .card {
  width: 350px;
  text-align: center;
  padding: 20px;
}
.second-section .card img {
  width: 350px;
  height: 350px;
}

.third-section {
  background-color: #e5e7eb;
  padding-left: auto;
  font-size: 30px;
  color: #464f5a;
  display: flex;
  padding: 50px 0;
  justify-content: center;
  flex-wrap: wrap;
}
.third-section .quote {
  max-width: 800px;
  text-align: center;
}
.third-section .writer {
  align-self: flex-end;
  font-size: 18px;
}

.fourth-section {
  display: flex;
  background-color: white;
  justify-content: center;
}
.fourth-section .window {
  background: #3b82f6;
  width: 700px;
  margin: 50px 0;
  color: white;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  perspective: 1px;
  align-items: center;
  justify-content: space-around;
}

.fourth-section h3 {
  margin: 0;
}

.fourth-section .window button {
  background-color: #3b82f6;
  color: white;
  border: white 2px solid;
  border-radius: 5px;
  padding: 5px 10px;
  transition-duration: 150ms;
  margin: 15px;
}
.window button:hover {
  background-color: darkblue;
}

.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
}
